@media screen and (min-width:0px) {
    #form-wrap{
        margin: 0 20% ;
    }
    #title{
        height: 80px;
        width: 150px;
        font-size: 30px;
        line-height: 40px;
    }
    #wrap {
        margin-top: 140px;
    }

    h1{
        color: #641;
    }
}

@media screen and (max-width:480px) {
    /*　スマホ用*/
   
   .mtext{
        font-size: 15px;
        padding: 1px;
    }
     
    #title{
        width: 150px;
        color: red;
        font-size: 30px;
    }

    #wrap {
        margin-top: 140px;
    }
}
