@media screen and (min-width:0px) {
    body{
        
    }
    #title{
        height: 80px;
        width: 200px;
        font-size: 50px;
        line-height: 40px;
    }
    #wrap {
        margin-top: 120px;
    }

    h1{
        color: #641;
    }
}

@media screen and (max-width:480px) {
    /*　スマホ用*/

   .mtext{
        font-size: 15px;
        padding: 1px;
    }
     
    #title{
        width: 150px;
        color: red;
        font-size: 30px;
    }


    #wrap {
        margin-top: 140px;
    }


}
