@media screen and (min-width:0px) {
    #topbar{
        height: 50px;
        min-height: 30px;
    }
    #gnavi{
        margin-right: 20px;
    }
    #form-wrap{
        margin: 0 20%;
    }
    .mtext{
        font-size: 0.7em;
        /*border-left: solid 1px #aaa;*/
        width: 95px;
        text-align: center;
        padding:0;
        margin:0;
    }
    .mtext:hover{
        color: #fff;
    }
    .url > img{
        height: 30px;
        width: 30px;
    }
    
    .nav > .mtext >a.url {
        /*padding: 10px 0 10px 0;*/
        padding-right: 0;
        padding-left: 0;
    }

    #title{
        height: 80px;
        font-size: 25px;
    }
    #AA{
        position: fixed;
        top: 1px;
        left :1px;
    }
    #AAImg{
        height: 50px;
        float : left;
    }
    #wrap {
        margin-top: 60px;
    }
    h1{
        color: #641;
    }  
    #move-menu1, #move-menu2, #move-menu3{
        width: 50px;
        min-width: 100px;
    }
    #move-menu3 {
        width: 190px;
    }
    #toast-container {
        position: fixed;
        top: 7%;
        right: 0%;
    }

}
@media screen and (max-width:767px) {
    /*　スマホ用*/
    .mtext{
        font-size: 15px;
        padding: 1px;
        border-left: solid 0;
    }
    .mtext:last-child{
        border-bottom: 0;
    }
    #title{
        width: 150px;
        font-size: 30px;
    }

    #gnavi{
        border: solid 1px;
        margin-bottom: 0;
        position: fixed;
        top: 60px;
        right : 10px;
        background-color: #fff;
        box-shadow: 4px 4px #ccc;
        z-index: 20;
        overflow:visible;

       /* background-color: #fff;*/
        /*border: 1px #bbb;*/
    }
    #move-menu1, #move-menu2, #move-menu3{
        left: initial;
        position: fixed;
        z-index : 100;
        background-color: #fff;
        border: solid 2px;
        box-shadow: 4px 4px #ccc;
    }
    #move-menu1{
        right: 100px;
        top: 150px;
    }
    
    #move-menu2{
        right: 100px;
        top: 190px;
    }
    
    #move-menu3{
        right: 100px;
        top: 300px;
    }

    #wrap {
        margin-top: 60px;
    }
}

/*@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root 
    #move-menu1, #move-menu2, #move-menu3{
        position: fixed;
        background-color: #eee;
        right: 10px;
    }
    #gnavi{
        height: 600px;
        overflow:visible;
    }
    #move-menu1{
    }
    
    #move-menu2{
    }
    
    #move-menu3{
    }

}
