html, body {
    height: 100%;
}
h1, h2, h3{
    text-align: center;
}

.table {
    padding: 0px;
    margin: 0px;
    table-layout: fixed;
}

td {
    word-wrap:break-word;
}

/*
.table-head{
    text-align: center;
}

.table-head:first-child{
    width: 8%;
}
.table-head:nth-child(2){
    width: 65%;
}
/*.table-head:nth-child(3){
    width: 120px;
}

.table-head:nth-child(4){
    width: 13%;
}*/
.list > button {
    width:100%;
    text-align:center;
}

.list > button > img {
    width: 1em;
    height: 1em;
}

#reverseTitle {
    text-align: center;
}
#searchForm {
    width: 100%;
    text-align:center;
    max-width: 600px;
    margin: 0 auto;
}

#allDispBtn{
    display: none;
}

#popup{
    z-index: 100;
    visibility: hidden;
    position: fixed;
    bottom: 70px;
    width: 100%;
    text-align: center;
}

.checkbox{
   /* width: 70px;
    height: 70px;*/
    -webkit-transform: scale( 2 , 2 );
    -moz-transform: scale( 2 , 2 );
    vertical-align: middle;
    margin: 40% auto !important;
}

#pager{
       width: 100%;
    text-align: center;
}


