.table{
    padding: 0px;
    margin: 0px;
}

.table-head{
    text-align: center;
}

.table-head:first-child{
    width: 5%;
}
.table-head:nth-child(2){
    width: 70%;
}
.table-head:nth-child(3){
    width: 3%;
}
.table-head:nth-child(4){
    width: 3%;
}

.checkbox{
    width: 15px;
    height: 15px; 
    -webkit-transform: scale( 2 , 2 );
    -moz-transform: scale( 2 , 2 );
    vertical-align: middle;
}

#popup{
    visibility: hidden;
    z-index: 1111;
    background-color: #bbb;
    position: fixed;
    bottom: 20px;
    width: 100px;
    height: 100px;
}

#pager{
    text-align: center;
}


